p {
   color: blue;
}

h2 {
   font-style: italic;
   background-color: yellow;

}

.red {
   color: red;
}

h1 {
   background-color: yellow;
}

body {
   background-color: aqua;
}

#straight {
   font-style: normal;
   background-color: yellow;

}